project:
  type: book
  output-dir: docs

book:
  title: "JP_LearningDiary"
  author: "Julia Pieza"
  date: "20/01/2026"
  chapters:
    - index.qmd
    - intro.qmd
    - summary.qmd
    - week_1.qmd
    - references.qmd

bibliography: references.bib

format:
  html:
    theme:
      - cosmo
      - brand
  pdf:
    documentclass: scrreprt

editor: visual

