project:
  type: book
  output-dir: docs

book:
  title: "Remote Sensing Learning Diary"
  author: "Julia Pieza"
  date: today
  chapters:
    - index.qmd
    - intro.qmd
    - week_1.qmd
    - week_3.qmd
    - week_4.qmd
    - references.qmd

bibliography: references.bib

format:
  html:
    theme:
      - cosmo
      - brand
  pdf:
    documentclass: scrreprt

editor: visual

